//Container common styles
$containerBorderColor: 20px solid maroon;

// H1
$h1BgColor: #ccaaff;
$h1BorderColor: 2px dashed #dd22ff;
$h1TextColor: purple;
$h1ShadowColor: lightslategray;

// H2
$h2BgColor: #cc99ff;
$h2TextColor: #4b0082;
$h2BorderTopColor: 2px dotted #8244FF;
$h2BorderBottomColor: 2px dashed #8244FF;

// List
$listBgColor: Plum;

// Table
$tableOneBorderColor: 3px solid navy;
$tableOneCellBorderColor: 2px solid #8899CD;
$tableTwoBorderColor: 3px dotted #45CCFF;
$tableTwoCellBorderColor: 2px dashed blue;

// Fonts
$verdanaFont: "Verdana";
$tahomaFont: "Tahoma";